.creat-iso-container{
    margin: auto;
}

.iso-create label {
    float: left;
    margin-bottom: .5rem
}

.iso-create button.submit-create-iso{
    float: left;
}

.title-iso{
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
}