.notification__name--statistic{
    color:#63c76a;
}
.table-notification_system {
    width: 100%;
}
.table-notification_system tbody{
    width: 100% !important;
    background-color: #ffffff !important;
    padding-right: 100px;
}
.addCssButtonExcel{
    background-color: rgb(194, 34, 42);
    border: none;
    color: white;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}