.btn--detail__process{
    color: white;
    text-decoration: none;
}
.avatar--user{
    margin-top: 85px;
    height: 200px;
    width: 200px;
}
.image--user{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.information--user{
    font-size: 18px;
    font-family: auto;
    -moz-box-shadow:inset 0px -1px 4px #ccdde0;
    -webkit-box-shadow:inset 0px -1px 4px #ccdde0;
    box-shadow: inset 2px 4px -5px #e5e5e5;
    padding: -7px;
    background: white;
    border-radius: 9px;
    border: 1px solid #e4e4e4;
}
.information--user th{
    font-weight: 600;
    font-size:19px;
}
.btn--edit_user{
    padding: 7px 40px;
}
.section__content--p30{
    padding: 0;
    margin: 0;
}
.navbar__sub-list li a{
    font-size: 14px !important;
}
.navbar__list li a{
    font-weight: 700;
}
.content__organization{
    margin-top: -153px;
}
.manage__process--title,
.dashboard__title--process,
.dashboard__title--company,
.manage__company--notification,
.manage__account--information,
.dashboard__name--company,
.detail--company__title{
    font-weight: 600;
    text-transform: uppercase;
}
.detail--company__page{
    margin-top: -30px;
}
.register--page{
    height: 1000px;
}

.select--field__dashboard{
    height: 42px;
    border: none;
    /* background-color: gray; */
}
.select--field__dashboard option{
    font-size: 13px !important;
    font-weight: 600 !important;
}
.navbar-sidebar .navbar__list li a{
    font-size: 15px !important;
}

.list-employee tbody {
    display:block;
    max-height:500px;
    overflow-y:auto;
}
.list-employee thead{
    display:table;
    width:100%;
    table-layout:fixed;
}
.header-button{
    margin-right: 40px !important;
}

.main-content {
    background-color: #ffffff;
    padding-top: 116px;
    min-height: 100vh;
    border-left: 1px solid #e4e4e4;
}

.menu-sidebar .logo {
    background: #ffffff;
    height: 75px;
    padding: 0 35px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #e5e5e5;
    position: relative;
    z-index: 3;
}

.header-desktop {
    background: #ffffff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    left: 300px;
    height: 75px;
    z-index: 3;
}

.page-wrapper {
    overflow: hidden;
    background: #ffffff;
    padding-bottom: 8vh;
}