.manage-organization_template .manage-detailCompany_organization .title-detail_company{
    font-size:17px !important;
    font-weight: 600 !important;
    margin-right:15px !important;
    font-family: initial;
}
.manage-organization_template .manage-detailCompany_organization .avatar-company{
   border-radius:50%;
   height: 100px;
   widows: 100px;
}