.input-group-prepend {
    width: 42px;
}

.input-group-text{
    width: 100%;
}

.alert-error-form-reset-password{
    height: 38px;
    border: 1px solid transparent;
    border-radius: .25rem;
    color:red;
    display: none;
}