.process-header{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    color: hsl(0,0%,50%);
    width: 100%;
    height: 50px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    background-color:  #f2f2f2;
    ;
}

.button-group-header{
    right: 0px;
    width: 100px;
}

.button-support-action{
    margin-left: 20px;
}

.dropdown-menu{
    margin-top: 42px;
    position: absolute;
    transform: translate3d(-162px, 0px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
}

.action-title{
    font-weight: bold;
    text-align: center;
    font-size: 12px;
}

.action-title-left{
    font-weight: bold;
}

.action-ilustration{
    font-size: 12px;
}

