.process-header{
    display: block;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    color: hsl(0,0%,50%);
    width: 100%;
    height: 53px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    background-color:  #f2f2f2;
    ;
}

.button-support-action{
    margin-left: 20px;
}

.action-title{
    font-weight: bold;
    text-align: center;
    font-size: 12px;
}

.action-title-left{
    font-weight: bold;
}

.action-ilustration{
    font-size: 12px;
}

.button-area{
    font-size: 28px;
}

.btn-actions, .btn-guide{
    height: 50px;
}

.go-back-button-header{
    margin-right: 93%;
}

.button-area-go-back{
    font-size: 28px;
}

.text-go-back{
    font-size: smaller;
}

.input-import-file-bpmn{
    opacity: 0;
    width: 50px;
    position: absolute;
    margin-left: -42px;
}